/* Bookingscreen.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #e1d4cd7d, #5e98e2c2);
  padding: 20px;
}

.booking-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.room-details, .payment-details {
  padding: 20px;
  flex: 1;
}

.room-details {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.payment-details {
  background: #fafafa;
}

.roomName {
  font-size: 24px;
  font-weight: bold;
  color: #0072ff;
}

.roomLine {
  border: 1px solid #0072ff;
  margin: 10px 0;
}

.room-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.room-image:hover {
  transform: scale(1.05);
}

.booking-info, .extras, .packages {
  margin: 20px 0;
}

.booking-info p {
  margin: 5px 0;
  font-size: 16px;
}

.amount-details {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.amount-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.amount-section p {
  margin: 10px 0;
  font-size: 16px;
}

.amount-line {
  border: 1px solid #e0e0e0;
  width: 100%;
  /* margin: 5px 0; */
}

.extras h3, .packages h3 {
  font-size: 18px;
  color: #0072ff;
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

button.payButton, button.home-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(45deg, #0072ff, #00c6ff);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  margin-top: 10px;
}

button.payButton:hover, button.home-button:hover {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  transform: translateY(-2px);
}

.stripe-button {
  width: 100%;
}

button.home-button {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
}

button.home-button:hover {
  background: linear-gradient(45deg, #0072ff, #00c6ff);
}

hr {
  border: 1px solid #e0e0e0;
  width: 100%;
}

button:focus, input:focus {
  outline: none;
}

/* Responsive Design */
@media (min-width: 768px) {
  .booking-container {
    flex-direction: row;
  }

  .room-details, .payment-details {
    border-bottom: none;
    border-right: 1px solid #e0e0e0;
  }

  .payment-details {
    border-right: none;
  }
}
